vendor/

###> symfony/framework-bundle ###
/rq_api/.env.local
/rq_api/.env.local.php
/rq_api/.env.*.local
/rq_api/config/secrets/prod/prod.decrypt.private.php
/rq_api/public/bundles/
/rq_api/var/
/rq_api/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/rq_api/phpunit.xml
/rq_api/.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
/rq_api/.phpunit.result.cache
/rq_api/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
/rq_api/public/assets/
/rq_api/assets/vendor/
###< symfony/asset-mapper ###


/rq_api/src/Config/SiteConfig.php


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/rq_front/node_modules


# production
/rq_front/build

# misc
/rq_front/.DS_Store
/rq_front/.env.local
/rq_front/.env.development.local
/rq_front/.env.test.local
/rq_front/.env.production.local



